.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  gap: 1.5rem;
}

.button {
  flex-wrap: wrap;
  align-content: center;
}

.header {
  /*display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
 
  flex-wrap: wrap;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: 1rem;
  margin-top: 1rem;
}


input:focus {
  outline: none;
  border-color: rgb(122, 41, 252);
  box-shadow: 0 0 7px rgb(122, 41, 252);
}

label {
  pointer-events: none;
  position: absolute;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 0.5;
  background: #fff;
}

input:focus+label,
input:not(:placeholder-shown)+label {
  opacity: 1;
  transform: scale(0.75) translateY(-50%) translateX(8vh);
}