<div class="header">
        <div>
        <i class="bi bi-arrow-left"></i> </div>
        <div class="display-4" style="grid-area: 1/2 /1 /5;"> Join Room</div>
</div>
    <br>
<form class="container">
        <div class="form-floating" style="width:100%;">
            <input type="email" class="form-control" id="floatingInput" placeholder="Room Id">
            <label for="floatingInput" style="color:rgb(122, 41, 252);">Room Id</label>
        </div>
        <div class="form-floating" style="width:100%;">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Passcode">
            <label for="floatingPassword" style="color:rgb(122, 41, 252);">Passcode</label>
        </div>
        <div class="button"  style="width:100%; width:100%; border: 0px;">
            <button (click)="click()" type="button" class="rounded shadow border-light" style="width:100%; border: 0px; height: 30px; color:rgb(122, 41, 252);">Join
                Room</button>
        </div>
    </form>