<!--<router-outlet [hidden]="flag==false"></router-outlet>-->
<section [hidden]="flag">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-power"
        viewBox="0 0 16 16"
        style="grid-area: 1/4/1/4; font-size: 2rem;color: red;align-self: center; justify-self: center;"
        (click)="logout()">
        <path d="M7.5 1v7h1V1z" />
        <path d="M3 8.812a5 5 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812" />
    </svg>
    <p style="grid-area: 1/4/1/4; font-size: 1rem;color: rgb(0, 0, 0);font-weight: bold; align-self: flex-end;justify-self: center"
    (click)="logout()">
        Log Out
    </p>
    <div class="blockquote-footer" style=" grid-area: 2/2/2/5; font-size: 1rem; align-self: left;">
        Discover how far your friends are
    </div>
    <div style="grid-area: 3/2/3/4; margin-left: 15%;" class="room-wrapper">
        <div style="width: 100%">
            <i class="bi bi-plus" style="font-size: 2rem;align-self: flex-start;" (click)="createRoom()"></i>
            <a type="button" (click)="hide()" class="btn btn-outline-success rounded shadow"
                (click)="createRoom()"><b>Create
                    Room</b></a>
        </div>
        <div style="width: 100%">
            <a type="button" (click)="hide()" class="btn btn-outline-warning rounded shadow"
                (click)="joinRoom()"><b>Join Room</b> </a>
            &nbsp;
            <i class="bi bi-box-arrow-in-right" style="font-size: 2rem;align-self: flex-start;"
                (click)="joinRoom()"></i>
        </div>
    </div>
</section>