.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  gap: 1.5rem;
}

.button {
  flex-wrap: wrap;
  align-content: center;
}

.load
{
  display: grid;
  grid-template-rows: 2fr 1fr;
  margin-left: 1rem;
  margin-top: 1rem;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: 1rem;
  margin-top: 1rem;
}


input:focus {
  outline: none;
  border-color: rgb(122, 41, 252);
  box-shadow: 0 0 7px rgb(122, 41, 252);
}

.placeholder {
  pointer-events: none;
  position: absolute;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 0.5;
  background: #fff;
}

input:focus+label,
input:not(:placeholder-shown)+label {
  opacity: 1;
  transform: scale(0.75) translateY(-50%) translateX(8vh);
}


.table {
  width: 99%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
  font-size: 1em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

* {
  outline: none;
}

.table th,thead th {
  font-weight: 500;
}


.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #dee2e6;
}


.table th {
  padding: 1rem;
  vertical-align: top;
  border-top: 1px solid  #dee2e6;
}


.table thead tr {
  color: #c134dd;
  text-align: center;
}

tr{
text-align: center;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f3f3f3;
}

/* loading screen*/
/* Overlay styles */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  z-index: 9999; /* Ensure it appears above other elements */
  align-items: flex-start; /* Align to top */
  padding-top: 50%; /* Adjust to push spinner downward */
}

/* Spinner container */
.loading-spinner {
  text-align: center;
  color: white;
  align-content: flex-start;
}

/* Spinner animation */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Spinner animation keyframes */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
